@font-face {
    font-family: TTCommons;
    src: url('../fonts/TTCommons-Bold.woff') format('woff'),
    url('../fonts/TTCommons-Bold.woff2') format('woff2'),
    url('../fonts/TTCommons-Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: TTCommons;
    src: url('../fonts/TTCommons-DemiBold.ttf') format('ttf'),
    url('../fonts/TTCommons-DemiBold.woff') format('woff');
    /*url('../fonts/TTCommons-Regular.woff2') format('woff2');*/
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: TTCommons;
    src: url('../fonts/TTCommons-Regular.woff') format('woff'),
    url('../fonts/TTCommons-Regular.woff2') format('woff2'),
    url('../fonts/TTCommons-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: TTCommons;
    src: url('../fonts/TTCommons-Light.woff') format('woff'),
    url('../fonts/TTCommons-Light.woff2') format('woff2'),
    url('../fonts/TTCommons-Light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0)
}

body {
    position: relative;
    background-color: white;
    color: black;
    font-family: 'TTCommons', Arial sans-serif;
    font-size:  25px;
    line-height: 30px;
    font-weight: 300;
}

.main-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
    background-color: #ee3929;
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
    padding: 15px 21px;
    color: white;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.main-button:hover,
.main-button:focus {
    background-color: #ee3929cf;
}

.main-header__layer {
    background-color: rgba(1, 21, 59, 0.85);
    background-image: url('https://www.elma-bpm.ru/upload/bg_hand/png5c7786fc8a75e6/38062802/bg_hand.png'),
    url('https://www.elma-bpm.ru/upload/bg_main-banner/png5c77839c6f6b62/55337981/bg_main-banner.png');
    background-position: 92% 68%, center;
    background-size: 44%, cover;
    background-repeat: no-repeat, no-repeat;
    min-height: 742px;
}

.main-header {
    padding: 25px;
}

.main-header__wrap {
    width: 1160px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.main-header--scroll {
    width: 100vw;
    padding-right: 25px;
    position: fixed;
    left: 50%;
    margin-left: -50vw;
    top: 0;
    z-index: 1000;
    background-color: rgba(1, 21, 49, 0.95);
    -webkit-animation-name: menu;
    animation-name: menu;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    box-sizing: border-box;
}

.main-header__wrap--parallax {
    height: 85px;
 }

@-webkit-keyframes menu {
    0% {
        -webkit-transform: translateY(-250px);
        transform: translateY(-250px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes menu {
    0% {
        -webkit-transform: translateY(-250px);
        transform: translateY(-250px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.logo__link {
    display: inline-block;
    color: white;
    -webkit-box-shadow: inset 0 0 0 2px white;
    box-shadow: inset 0 0 0 2px white;
    padding: 3px 7px;
    padding-top: 9px;
    text-transform: uppercase;
    line-height: 21px;
    margin-right: 118px;
}

.logo__layer {
    font-weight: bold;
}

.main-nav__button-menu {
    display: none;
}

.main-nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.main-nav__item {
    margin-right: 30px;
    padding-top: 3px;
}

.main-nav__link {
    font-size: 18px;
    color: white;
    text-decoration: none;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.registration {
    margin-left: auto;
    padding-top: 3px;
}

.registration__link {
    font-size: 18px;
    color: #ee3929;
    text-decoration: underline;
}

.main-nav__link:hover,
.main-nav__link:focus {
    color: white;
}

.main-content__wrap {
    width: 1160px;
    margin: 0 auto;
}

.main-banner {
    margin: auto;
    width: 1160px;

}

.main-banner__wrap {
    position: relative;
    padding-top: 56px;
    padding-bottom: 67px;
    z-index: 0;
}

.main-banner__wrap::before {
    position: absolute;
    content: '';
    height: 63%;
    width: 350px;
    left: -94px;
    top: 47px;
    background-image: url('../img/bg_topic_card.png');
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.main-banner__info {
    margin: 0;
    margin-bottom: 14px;
}

.main-banner__title {
    font-size: 77px;
    line-height: 78px;
    color: white;
    margin: 0;
    margin-bottom: 3px;
}

.main-banner__description {
    width: 801px;
    font-size: 20px;
    line-height: 28px;
    margin-top: 0;
    padding-right: 118px;
    margin-bottom: 5px;
    color: white;
}

.main-banner__date {
    color: white;
    font-weight: 500;
}

.main-banner__address {
    position: relative;
    padding-left: 25px;
    margin-left: 25px;
    color: white;
    font-weight: 500;
}

.main-banner__address::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    background-image: url('../img/icons/pin_place.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.main-button--main-banner {
    margin-top: 35px;
}

.promo {
    position: relative;
    background-color: #f0f0f0;
    padding-top: 134px;
    padding-bottom: 65px;
    z-index: 5;

}

.promo__wrap {
    width: 1160px;
    margin: auto;
}

.about-elmaday {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin: auto;
    margin-bottom: 50px;
    width: 1160px;
    background-color: white;
    padding: 22px 98px;
    padding-right: 77px;
    box-sizing: border-box;
    margin-top: -267px;
}

.about-elmaday__description-wrap {
    width: 48%;
}

.about-elmaday__description {
    font-size: 20px;
    line-height: 30px;
}

.about-elmaday__video-wrap {
    position: relative;
    width: 49%;
    margin-left: 10px;
}

.about-elmaday__description-wrap {
    padding-top: 34px;
}

.about-elmaday__description {
    margin: 0;
    padding-right: 50px;
}

.about-elmaday__text-wrap {
    font-weight: bold;
    text-transform: uppercase;
}

.about-elmaday__video-layer {
    position: relative;
    /*background-image: url('../img/layer-video.png');*/
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    cursor: pointer;
}

.promo__text {
    text-align: center;
    font-size: 35px;
    line-height: 43px;
    padding: 0 90px;
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 25px;
 }

.promo__button-wrap {
    display: flex;
    justify-content: center;
}

.advantages {
    background-size: contain;
    margin-bottom: 75px;
}
.advantages__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 50px;
}

.advantages__item {
    width: 278px;
    min-height: 280px;
    -webkit-box-shadow: inset 0 0 0 2px #0027ff;
    box-shadow: inset 0 0 0 2px #0027ff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 41px;
    padding-bottom: 23px;
    padding-right: 27px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.advantages__item:hover {
    -webkit-transform: translateY(-38px);
    -ms-transform: translateY(-38px);
    transform: translateY(-38px);
    cursor: pointer;
}

.advantages__name {
    font-size: 108px;
    line-height: 97px;
    font-weight: 300;
    margin: 0;
    color: #0027ff;
}

.advantages__description {
    margin: 0;
}

.advantages__wrap-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.guests-and-experts {
    margin-bottom: 93px;
}

.guests-and-experts__title {
    font-size: 60px;
    line-height: 41px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 21px;
}

.guests-and-experts__description {
    width: 767px;
    margin-top: 0;
    margin-bottom: 47px;
}

.guests-and-experts__list {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    z-index: 10;
}

.guests-and-experts__list::before {
    position: absolute;
    content: '';
    width: 272px;
    height: 354px;
    top: -62px;
    right: -73px;
    background-repeat: no-repeat;
    background-position: right;
    background-image: url('../img/bg_topic_card.png');
    z-index: -1;
}

.guests-and-experts__list::after {
    position: absolute;
    content: '';
    width: 272px;
    height: 354px;
    bottom: -62px;
    left: -73px;
    background-repeat: no-repeat;
    background-position: right;
    background-image: url('../img/bg_topic_card.png');
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    z-index: -1;
}

.guests-and-experts__item {
    position: relative;
    width: 376px;
    height: 434px;
    margin-bottom: 23px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    cursor: pointer;
}

.guests-and-experts__item:hover {
    -webkit-transform: scale(0.92);
    -ms-transform: scale(0.92);
    transform: scale(0.92);
}

.guests-and-experts__name {
    position: absolute;
    font-weight: bold;
    font-size: 30px;
    line-height: 25px;
    bottom: 47px;
    left: 40px;
}

.guests-and-experts__logo {
    position: absolute;
    bottom: 37px;
    left: 40px;
}

.program {
    padding-top: 85px;
    margin-bottom: 102px;
}

.program__title {
    font-size: 60px;
    line-height: 41px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 66px;
}

.program__list {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
}

.program__list--unit {
    padding-top: 20px;
    margin-bottom: 81px;
}

.program__list--unit .program__item {
    margin-bottom: 26px;
}

.program__list--unit::before {
    position: absolute;
    content: '';
    left: -45px;
    right: -40px;
    top: -25px;
    bottom: -40px;
}

.program__list--unit-one::before {
    background-color: #fffdf4;
}

.program__list--unit-two::before {
    background-color: #eafdee;
}

.program__list--unit-three::before {
    background-color: #eaf4fd;
}

.program__item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 66px;
    /*cursor: pointer;*/
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.program__item--coffee {
    margin-bottom: 56px;
}

/*.program__item::before {
    position: absolute;
    content: '';
    left: -20px;
    top: -25px;
    right: -20px;
    bottom: -20px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}*/

.program__item:hover::before {
    background-color: rgba(255, 255, 255, 0.15);
}

.program__item--border::after {
    position: absolute;
    content: '';
    bottom: -28px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.05);
}

.program__item h3,
.program__item p {
    margin: 0;
}

.program__time {
    display: block;
    width: 197px;
    font-size: 30px;
    line-height: 30px;
}

.program__time--unit {
    padding-top: 74px;
}

.program__wrap-text {
    /*width: 755px;*/
}

.program__item .program__subtitle {
    color: black;
    font-weight: 300;
    margin-bottom: 8px;
}

.program__item .program__subtitle--unit {
    margin-bottom: 41px;
}

.program__wrap-text .program__text {
    font-size: 25px;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 4px;
}

.program__speaker-list {
    display: flex;
    flex-wrap: wrap;
}

.program__speaker-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.program__speaker-wrap img {
    margin-left: -10px;
}

.program__speaker-wrap:first-of-type {
    margin-right: 20px;
}

.program__speaker-name {
    font-size: 18px;
    line-height: 24px;
    font-style: italic;
    font-weight: 400;
}

.program__wrap-text .program__author {
    font-weight: bold;
    margin-top: 15px;
}

.program__logo {
    font-weight: 300;
}

.demo-zone {
    margin-bottom: 92px;
}

.demo-zone__title {
    font-size: 60px;
    line-height: 41px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 66px;
}

.demo-zone__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.demo-zone__item {
    position: relative;
    width: 277px;
    min-height: 370px;
    cursor: pointer;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.demo-zone__item:hover {
    -webkit-transform: translateY(-25px);
    -ms-transform: translateY(-25px);
    transform: translateY(-25px);
}

.demo-zone__item::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../img/demo-zone.png');
    background-repeat: no-repeat;
    background-position: bottom;
}

.demo-zone__item--one {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(143, 115, 255, 0.5)), to(black));
    background-image: -webkit-linear-gradient(top, rgba(143, 115, 255, 0.5), black);
    background-image: -o-linear-gradient(top, rgba(143, 115, 255, 0.5), black);
    background-image: linear-gradient(to bottom, rgba(143, 115, 255, 0.5), black);
}

.demo-zone__item--two {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 167, 0, 0.5)), to(black));
    background-image: -webkit-linear-gradient(top, rgba(255, 167, 0, 0.5), black);
    background-image: -o-linear-gradient(top, rgba(255, 167, 0, 0.5), black);
    background-image: linear-gradient(to bottom, rgba(255, 167, 0, 0.5), black);
}

.demo-zone__item--three {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(76, 193, 31, 0.5)), to(black));
    background-image: -webkit-linear-gradient(top, rgba(76, 193, 31, 0.5), black);
    background-image: -o-linear-gradient(top, rgba(76, 193, 31, 0.5), black);
    background-image: linear-gradient(to bottom, rgba(76, 193, 31, 0.5), black);
}

.demo-zone__item--fourth {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 25, 120, 0.5)), to(black));
    background-image: -webkit-linear-gradient(top, rgba(255, 25, 120, 0.5), black);
    background-image: -o-linear-gradient(top, rgba(255, 25, 120, 0.5), black);
    background-image: linear-gradient(to bottom, rgba(255, 25, 120, 0.5), black);
}

.demo-zone__name {
    display: block;
    padding: 10px 25px;
    font-size: 30px;
    line-height: 30px;
}

.demo-zone__name--one {
    background-color: #8f73ff;
}

.demo-zone__name--two {
    background-color: #d77d29;
}

.demo-zone__name--three {
    background-color: #57b800;
}

.demo-zone__name--fourth {
    background-color: #8b244f;
}

.demo-zone__fill {
    padding: 36px 27px;
}

.demo-zone__subtitle {
    margin: 0;
    margin-bottom: 16px;
}

.demo-zone__subscription {
    margin: 0;
}

.main-footer__wrap {
    width: 1160px;
    margin: 0 auto;
}

.call-to-action {
    background-color: rgba(1, 21, 59, 0.85);
    background-image: url('../img/bg_call-to.png');
    background-repeat: no-repeat;
    min-height: 173px;
}

.call-to-action__wrap {
    width: 1160px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 30px 102px;
    padding-right: 89px;
    padding-top: 50px;
    box-sizing: border-box;
}

.call-to-action__title {
    font-size: 25px;
    line-height: 36px;
    font-weight: 500;
    width: 82%;
    color: white;
    margin: 0;
}

.call-to-action__button {
    margin-top: 13px;
}

.info {
    background-color: #f0f0f0;
    min-height: 605px;
}

.info__wrap {
    width: 1160px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.map {
    position: relative;
    width: 50%;
    height: 100%;
}

.map__wrap {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 49vw;
    height: 605px;
    box-sizing: border-box;
}

.map__wrap iframe {
    width: 100%;
    box-sizing: border-box;
}

.organizers {
    width: 50%;
}

.who-spend {
    background-color: white;
    padding-bottom: 47px;
}

.who-spend__wrap {
    width: 1160px;
    margin: 0 auto;
    color: black;
    padding-top: 78px;
}

.who-spend__title {
    font-size: 60px;
    line-height: 41px;
    font-weight: 300;
    margin: 0;
    margin-bottom: 24px;
}

.who-spend__wrap-info {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.who-spend__wrap-text {
    width: 56%;
}

.who-spend__wrap-text p {
    font-size: 20px;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 14px;
}

.who-spend__wrap-logo {
    width: 38%;
    box-sizing: border-box;
    padding-left: 4%;
}

.who-spend__wrap-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.who-spend__list-company {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.who-spend__list-company:nth-of-type(1) {
    width: 34%;
}

.who-spend__list-company:nth-of-type(2) {
    width: 66%;
}


.who-spend__company-name {
    font-size: 25px;
    line-height: 36px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 10px;
}

.main-footer {
    background-color: #000d27;
}
.main-footer__wrap {
    width: 1160px;
    margin: 0 auto;
    padding-bottom: 55px;
}

.main-form__wrap {
    position: relative;
    padding: 73px 0;
    padding-top: 73px;
}

.main-form__title {
    font-size: 60px;
    line-height: 41px;
    font-weight: 300;
    margin: 0;
    margin-bottom: 40px;
    color: white;
}

.main-form__subscription {
    margin: 0;
    margin-bottom: 23px;
    color: white;
}

.main-form__label {
    position: relative;
    width: 100%;
    font-size: 25px;
    line-height: 36px;
    color: #212121;
    display: block;
    margin-bottom: 17px;
}

.main-form__label:nth-of-type(5) {
    margin-bottom: 42px;
}


.main-form__label:last-of-type {
    margin-bottom: 60px;
}

.main-form__label--checkbox {
    position: relative;
    font-size: 16px;
    line-height: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.3);
}

.main-form__input--checkbox + .main-form__icon-checkbox {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 1px;
    -webkit-box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.1);
    margin-right: 10px;
    cursor: pointer;
}

.main-form__input--checkbox:checked + .main-form__icon-checkbox {
    background-color: #ee3929;
    box-shadow: none;

}

.main-form__input--checkbox:checked + .main-form__icon-checkbox::before {
    position: absolute;
    content: "";
    top: 13px;
    right: 11px;
    width: 9px;
    height: 2px;
    -webkit-transform: rotate(46deg);
    -ms-transform: rotate(46deg);
    transform: rotate(46deg);
    background-color: rgba(255, 255, 255, 0.9);
}


.main-form__input--checkbox:checked + .main-form__icon-checkbox::after {
    position: absolute;
    content: "";
    top: 10px;
    right: 3px;
    width: 14px;
    height: 2px;
    -webkit-transform: rotate(-59deg);
    -ms-transform: rotate(-59deg);
    transform: rotate(-59deg);
    background-color: rgba(255, 255, 255, 0.9);
}

.main-form__description {
    position: absolute;
    left: 2px;
    top: 17px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    color: rgba(255, 255, 255, 0.2);
}

.main-form__description--active {
    top: -6px;
    left: 0;
    font-size: 16px;
    line-height: 24px;
    color: #ee3929;
}

.main-form__input {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    font-size: 20px;
    line-height: 30px;
    padding: 6px 0;
    padding-top: 16px;
    outline: none;
    color: white;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.main-form__input:-webkit-autofill {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-box-shadow: inset 0 0 0 50px #000d27; /* Цвет фона */
    -webkit-text-fill-color: white!important; /* цвет текста */
    color: #fff !important; /* цвет текста */
    border-bottom-color: #15293f;
}

.main-form__input:hover,
.main-form__input:focus,
.main-form__input:active {
    border-bottom-color: #ee3929;
}

.main-form__button {
    border: none;
    cursor: pointer;
    opacity: 0.5;
    padding: 17px 30px;
}

.main-form__button--submit-active {
    opacity: 1;
}

.main-form__button-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.main-form__info {
    font-size: 18px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.3);
    width: 70%;
    margin-left: 30px;
}



.organizers {
    padding-top: 47px;
}

.organizers__title {
    font-size: 60px;
    line-height: 61px;
    margin-top: 0;
    font-weight: 300;
    margin-bottom: 28px;
}

.organizers__description {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 28px;
}

.organizers__description:last-of-type {
    margin-bottom: 43px;
}

.organizers__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.organizers__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 28px;
}

.organizers__wrap-avatar {
    margin-right: 23px;
}

.organizers__name {
    padding-top: 3px;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    margin-bottom: 2px;
}

.organizers__jobposition {
    font-size: 20px;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 0;
}

.organizers__email,
.organizers__phone {
    font-size: 20px;
    line-height: 28px;
    text-decoration: none;
    display: block;
    color: black;
}

.organizers__email {
    color: #ee3929;
}

.news__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 800px;
}

.news__item {
    width: 380px;
    margin-bottom: 25px;
}

.news__link {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

.news__img {
    width: 100%;
    height: auto;
}

@media (max-width: 1366px) {
    .main-header--scroll {
        padding: 10px 25px;
    }

    .main-header__layer {
        background-position: 153% 68%, center;
        background-size: 900px, cover;
    }
}

@media (max-width: 767px) {

    body {
        font-size: 18px;
        line-height: 25px;
    }

    .main-button {
        font-size: 18px;
        line-height: 26px;
        padding: 12px 21px;
    }

    .main-header__layer {
        min-height: auto;
    }

    .main-header {
        padding: 25px 20px;
        padding-bottom: 10px;
    }

    .main-header__wrap {
        width: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .logo {
        margin-bottom: 25px;
    }

    .main-banner__wrap {
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .main-banner__wrap br {
        display: none;
    }

    .main-banner__info {
        margin-bottom: 24px;
    }

    .main-banner__title {
        font-size: 70px;
        line-height: 56px;
        margin-bottom: 10px;
    }

    .main-banner__description {
        padding-right: 0;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 10px;
    }

    .main-banner__address {
        margin-left: 0;
    }

    .main-banner__address::before {
        top: -5px;
    }

    .main-button--main-banner {
        margin-top: 16px;
    }

    .main-nav__button-menu {
        position: absolute;
        display: block;
        margin-top: 4px;
        right: 20px;
        width: 23px;
        height: 23px;
        background-color: transparent;
        border: none;
        margin-left: auto;
    }

    .main-nav__button-menu::before,
    .main-nav__button-menu::after {
        position: absolute;
        content: '';
        width: 20px;
        height: 3px;
        background-color: white;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 10px;
        left: 2px;
        border-radius: 3px;
        -webkit-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
    }

    .main-nav__button-menu::after {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .main-header__button-menu--open::before {
        position: absolute;
        content: '';
        width: 20px;
        height: 3px;
        background-color: white;
        top: 3px;
        left: 50%;
        margin-left: -10px;
        border-radius: 3px;
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-box-shadow: 0 7px 0 0 white,
        0 14px 0 0 white;
        box-shadow: 0 7px 0 0 white,
        0 14px 0 0 white;
    }

    .main-header__button-menu--open::after {
        display: none;
    }

    .main-nav {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        overflow: hidden;
    }

    .main-nav__list {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
    }

    .main-nav__list--close {
        margin-top: -250px;
    }

    .main-nav__item {
        width: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin-right: 0;
    }

    .registration {
        display: none;
    }

    .main-banner {
        margin-left: 0;
        padding-bottom: 50px;
        width: 100%;
    }

    .main-banner__wrap::before {
        display: none;
    }

    .main-banner__description {
        width: 100%;
    }

    .main-content__wrap {
        width: 100%;
        padding: 0 20px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .about-elmaday {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 89%;
        margin-top: -65px;
        padding: 25px 20px;
        margin-bottom: 25px;
        box-sizing: border-box;
    }

    .about-elmaday__description-wrap {
        width: 100%;
        padding-top: 15px;
    }

    .about-elmaday__description {
        padding-right: 0;
        font-size: 18px;
        line-height: 22px;
    }

    .about-elmaday__video-wrap {
        order: -1;
        width: 100%;
        margin-left: 0;
    }

    .about-elmaday__video-wrap iframe {
        height: 44vw;
    }

    .promo {
        padding-top: 1px;
        padding-bottom: 29px;
    }

    .promo__wrap {
        width: 100%;
    }

    .promo__text {
        padding: 0 20px;
        font-size: 25px;
        line-height: 36px;
    }

    .advantages__list {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .advantages__item {
        width: 100%;
        margin-bottom: 15px;
        min-height: 168px;
    }

    .advantages__item:hover {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    .advantages__wrap-button {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .guests-and-experts__list::before,
    .guests-and-experts__list::after {
        display: none;
    }

    .guests-and-experts__title {
        font-size: 45px;
        line-height: 41px;
    }

    .guests-and-experts__description {
        width: 100%;
    }

    .guests-and-experts__wrap-list {
        position: relative;
        height: 105vw;
        overflow-y: hidden;
    }

    .guests-and-experts__list {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        position: absolute;
        /*width: 577vw; for 6 speakers */
        width: 284vw; /*for 3 speakers*/
        margin-left: -20px;
        padding-left: 20px;
    }

    .guests-and-experts__item {
        width: 91vw;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        height: 105vw;
    }

    .guests-and-experts__item:not(:last-of-type) {
        margin-right: 20px;
    }

    .guests-and-experts__item:hover {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    .guests-and-experts__avatar {
        width: 100%;
        height: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .program {
        margin-bottom: 36px;
        padding-top: 65px;
    }

    .program__list--unit {
        margin-bottom: 66px;
    }

    .program__list--unit::before {
        position: absolute;
        content: '';
        left: -20px;
        right: -20px;
        top: -17px;
        bottom: -40px;
    }

    .program__title {
        font-size: 45px;
        line-height: 41px;
        margin-bottom: 24px;
    }

    .program__item {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-bottom: 36px;
    }

    .program__item--coffee {
        margin-bottom: 36px;
    }

    .program__item--border::after {
        bottom: -5px;
    }

    .program__item--border-only-mobile::after {
        position: absolute;
        content: '';
        bottom: -12px;
        left: 0;
        right: 0;
        height: 2px;
        background-color: rgba(0, 0, 0, 0.05);
    }

    .program__time-wrap {
        width: 100%;
        margin-bottom: 10px;
    }

    .program__wrap-text .program__text {
        font-size: 18px;
        line-height: 30px;
    }

    .program__time,
    .program__text {
        font-size: 18px;
        line-height: 25px;
    }

    .program__time--unit {
        padding-top: 0;
    }

    .program__subtitle {
        font-size: 20px;
        line-height: 24px;
    }

    .demo-zone__title {
        font-size: 45px;
        line-height: 41px;
    }

    .demo-zone__list-wrap {
        position: relative;
        height: 105vw;
        overflow-y: hidden;
    }

    .demo-zone__list {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        position: absolute;
        width: 310vw;
        margin-left: -20px;
        padding-left: 20px;
    }

    .demo-zone__item {
        width: 74vw;
        margin-bottom: 20px;
    }

    .demo-zone__item:hover {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    .call-to-action {
        background-size: cover;
    }

    .call-to-action__wrap {
        width: 100%;
        padding: 43px 20px;
    }

    .call-to-action__title {
        font-size: 20px;
        line-height: 28px;
        width: 100%;
    }

    .info__wrap {
        width: 100%;
    }

    .organizers {
        width: 100%;
    }

    .map {
        width: 100%;
    }

    .map__wrap {
        position: static;
        width: 100%;
        height: auto;
    }

    .map__wrap iframe {
        height: 355px;
    }

    .main-form__wrap {
        padding: 29px 0;
        padding-top: 49px;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .main-form__subscription {
        font-size: 18px;
    }

    .main-form__title {
        font-size: 45px;
        line-height: 41px;
    }

    .main-form__description {
        font-size: 18px;
        line-height: 26px;
    }

    .main-form__input {
        font-size: 18px;
        line-height: 26px;
    }

    .main-form__button {
        margin-bottom: 25px;
    }

    .main-form__info {
        margin-left: 0;
        width: 100%;
    }

    .who-spend__wrap {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 46px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .who-spend__title {
        font-size: 45px;
        line-height: 41px;
    }

    .who-spend__wrap-text {
        width: 100%;
        display: none;
    }

    .who-spend__wrap-logo {
        width: 90%;
        padding-left: 0;
    }

    .who-spend__list-company:nth-of-type(1) {
        width: 100%;
    }

    .who-spend__list-company:nth-of-type(2) {
        width: 100%;
    }

    .who-spend__logo {
        width: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .who-spend__list-company:nth-of-type(1) .who-spend__logo {
        width: 120px;
    }

    .main-footer__wrap {
        width: 100%;
        padding: 0 20px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding-top: 34px;
        padding-bottom: 43px;
    }

    .organizers {
        padding-left: 20px;
        padding-right: 20px;
    }

    .organizers__title {
        font-size: 45px;
        line-height: 41px;
    }

    .organizers__description {
        font-size: 18px;
        line-height: 28px;
    }

    .organizers__description:last-of-type {
        margin-bottom: 20px;
    }

    .organizers__wrap-avatar {
        margin-right: 9px;
    }

    .organizers__wrap-avatar img {
        width: 87px;
        height: 87px;
    }

    .organizers__list {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .organizers__item {
        width: 100%;
        flex-wrap: nowrap;
        margin-bottom: 26px;
    }

    .organizers__name,
    .organizers__jobposition,
    .organizers__email,
    .organizers__phone{
        font-size: 16px;
        line-height: 22px;
    }

    .news__list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }

    .news__item {
        width: 100%;
    }
}

@media (max-width: 320px) {
    .guests-and-experts__logo,
    .guests-and-experts__name {
        left: 17px;
    }


    .main-banner__title {
        font-size: 62px;
        line-height: 47px;
    }
}

