@font-face {
    font-family: Chava;
    src: url('../fonts/Chava-Regular.ttf') format('ttf'),
    url('../fonts/Chava-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Dejavue;
    src: url('../fonts/DejaVu_Sans_Mono_Book.ttf') format('ttf'),
    url('../fonts/DejaVu_Sans_Mono_Book.woff') format('woff');
}

@font-face {
    font-family: '8Bit';
    src: url('../fonts/8BIT.otf') format('otf'),
    url('../fonts/8BIT.woff') format('woff');
}

body {
    font-family: 'Dejavue', 'Arial', sans-serif;
    font-size: 25px;
    line-height: 36px;
    color: white;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0)
}

.main-header {
    background-image: url('../img/bg__main.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #2123e4;
    padding-bottom: 55px;
}

.main-header__wrap {
    max-width: 1263px;
    margin: 0 auto;
    padding-top: 46px;
}

.main-nav {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 40px;
}

.main-nav__button {
    display: none;
}

.main-nav__list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 0;
    margin-left: auto;
    margin-right: 30px;
}

.main-nav__item {
    position: relative;
    background-color: black;
    font-size: 16px;
    line-height: 24px;
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
}

.main-nav__item::before {
    position: absolute;
    content: '';
    width: 9px;
    height: 9px;
    top: 6px;
    left: 5px;
}

.main-nav__item:nth-of-type(1)::before {
    background-color: #ff0000;
}

.main-nav__item:nth-of-type(2)::before {
    background-color: #1bb544;
}
.main-nav__item:nth-of-type(3)::before {
    background-color: #f5d629;
}

.main-nav__item:hover::before,
.main-nav__item:focus::before{
    background-color: black;
}

.main-nav__item:nth-of-type(1):hover,
.main-nav__item:nth-of-type(1):focus {
    background-color: #ff0000;
}

.main-nav__item:nth-of-type(2):hover,
.main-nav__item:nth-of-type(2):focus {
    background-color: #1bb544;
}

.main-nav__item:nth-of-type(3):hover,
.main-nav__item:nth-of-type(3):focus {
    background-color: #f5d629;
}

.main-nav__item:not(:last-of-type) {
    margin-right: 64px;
}

.main-nav__link {
    color: white;
    padding: 0 5px;
    padding-left: 18px;
    font-size: 16px;
    line-height: 24px;
}

.main-banner {
    margin-bottom: 71px;
}

.main-banner__title {
    font-family: '8Bit', 'Arial', sans-serif;
    font-size: 113px;
    line-height: 117px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 44px;
}

.main-banner__title--hidden {
    color: #2D2FF0;
}

.main-banner__description {
    max-width: 976px;
    font-size: 30px;
    line-height: 45px;
}

.main-banner__animated {
    -webkit-animation-name: animated-text;
    animation-name: animated-text;
    -webkit-animation-duration: 0.85s;
    animation-duration: 0.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes animated-text {
    0% {
        color: transparent;
    }

    100% {
        color: white;
    }
}

@keyframes animated-text {
    0% {
        color: transparent;
    }

    100% {
        color: white;
    }
}

.main-banner__button-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.main-banner__button {
    display: inline-block;
    background-color: white;
    font-family: 'Chava', Arial, sans-serif;
    font-size: 25px;
    line-height: 36px;
    color: black;
    padding: 25px 50px;
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
}

.main-banner__button:hover {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}

.main-banner__link-description {
    position: relative;
    font-size: 25px;
    line-height: 36px;
    padding-left: 59px;
}

.main-banner__link-description::before {
    position: absolute;
    content: '';
    width: 30px;
    height: 20px;
    left: 7px;
    top: 50%;
    margin-top: -10px;
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    -webkit-animation-name: arrow;
    animation-name: arrow;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes arrow {
    0% {
        -webkit-transform: translateX(15px);
        transform: translateX(15px);
    }

    30% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }

    60% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }

    100% {
        -webkit-transform: translateX(15px);
        transform: translateX(15px);
    }
}

@keyframes arrow {
    0% {
        -webkit-transform: translateX(15px);
        transform: translateX(15px);
    }

    30% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }

    60% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }

    100% {
        -webkit-transform: translateX(15px);
        transform: translateX(15px);
    }
}


.main-content {
    background-image: url('../img/bg__main__black.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

.what-kirovdev,
.speakers,
.organisations__wrap,
.main-form__wrap {
    max-width: 1263px;
    margin: 0 auto;
}

.main-information__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.main-information__item {
    width: 357px;
    min-height: 109px;
    -webkit-box-shadow: inset 0 0 0 8px white;
    box-shadow: inset 0 0 0 8px white;
    padding: 25px 26px;
    padding-right: 18px;
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
}

.main-information__item:hover {
    -webkit-box-shadow: inset 0 0 0 8px #ff15e8;
    box-shadow: inset 0 0 0 8px #ff15e8;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
}

.main-information__item:not(:last-of-type) {
    margin-right: 16px;
}

.main-information__title {
    font-family: 'Chava', Arial, sans-serif;
    font-size: 25px;
    line-height: 36px;
    color: #ff15e8;
    margin: 0;
    margin-bottom: 3px;
}

.main-information__description {
    font-size: 25px;
    line-height: 36px;
    margin: 0;
}

.what-kirovdev {
    position: relative;
    padding-top: 66px;
    padding-bottom: 25px;
}

.what-kirovdev::before {
    position: absolute;
    content: '';
    background-image: url('../img/bober.svg');
    background-repeat: no-repeat;
    width: 263px;
    height: 263px;
    top: 250px;
    right: 112px;
}

.what-kirovdev__title {
    max-width: 965px;
    font-family: 'Chava', Arial, sans-serif;
    font-size: 60px;
    line-height: 121px;
    margin: 0;
    margin-bottom: 6px;
}

.what-kirovdev__description {
    margin: 0;
    margin-bottom: 15px;
    max-width: 813px;
}

.speakers {
    padding-top: 25px;
    padding-bottom: 28px;
}

.speakers__title {
    font-family: 'Chava', Arial, sans-serif;
    font-size: 60px;
    line-height: 121px;
    margin: 0;
    margin-bottom: 53px;
}

.speakers__list {
    list-style: none;
    padding-left: 0;
}

.speakers__item {
    position: relative;
    min-height: 196px;
}

.speakers__item:nth-of-type(4) {
    padding-bottom: 53px;
}

.speakers__item:nth-of-type(7) {
    padding-bottom: 53px;
}

.speakers__item--icon::before {
    position: absolute;
    content: '';
    right: 138px;
    bottom: 59px;
    width: 186px;
    height: 132px;
    background-repeat: no-repeat;
}

.speakers__item--icon-start::before {
    background-image: url('../img/start.svg');
}

.speakers__item--icon-coffee::before {
    background-image: url('../img/coffee.svg');
}

.speakers__item--icon-message::before {
    background-image: url('../img/message.svg');
}

.speakers__times {
    display: inline-block;
    font-family: 'Chava', Arial, sans-serif;
    font-size: 30px;
    line-height: 45px;
    padding: 12px 28px;
    -webkit-box-shadow: inset 0 0 0 8px white;
    box-shadow: inset 0 0 0 8px white;
    margin-bottom: 19px;
}

.speakers__subtitle {
    font-size: 40px;
    line-height: 50px;
    margin: 0;
    margin-bottom: 11px;
    max-width: 829px;
}

.speakers__item:nth-of-type(9) .speakers__subtitle {
    max-width: 957px;
}

.speakers__speaker-name {
    font-size: 30px;
    line-height: 45px;
    margin: 0;
    margin-bottom: 70px;
    max-width: 796px;
    color: #ff15e8;
}

.organisations {
    background-image: url('../img/bg__main.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #2123e4;
}

.organisations__wrap {
    padding-top: 92px;
    padding-bottom: 67px;
}

.organisations__title {
    font-family: 'Chava', Arial, sans-serif;
    font-size: 60px;
    line-height: 70px;
    margin: 0;
    margin-bottom: 54px;
}

.organisations__description-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.organisations__description {
    max-width: 798px;
    margin: 0;
    margin-bottom: 25px;
}

.organisations__logo-wrap {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.organisations__logo {
    position: absolute;
    top: -51px;
    left: 35px;
}

.question {
    padding-top: 13px;
}

.question__subtitle {
    font-family: 'Chava', 'Arial', sans-serif;
    font-size: 35px;
    line-height: 42px;
    margin: 0;
    margin-bottom: 26px;
}

.question__people-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}


.question__people-item {
    width: 377px;
}

.question__people-item:not(:last-of-type) {
    margin-right: 39px;
}

.question__people-img-wrap {
    margin-bottom: -1px;
}

.question__people-item:nth-of-type(3) .question__people-img {
    margin-top: -6px;
}

.question__people-name {
    font-family: 'Chava', Arial, sans-serif;
    font-size: 25px;
    line-height: 25px;
    color: #ff15e8;
    margin: 0;
    margin-bottom: 7px;
}

.question__text {
    margin: 0;
}

.question__email,
.question__mobile-number {
    color: inherit;
    display: block;
}

.question__email {
    text-decoration: underline;
    -webkit-text-decoration-color: rgba(250, 250, 250, 0.2);
    text-decoration-color: rgba(250, 250, 250, 0.2);
}

.main-form__wrap-bg {
    background-color: black;
}

.main-form__wrap {
    padding-top: 51px;
    padding-bottom: 85px;
}

.main-form__title {
    font-family: 'Chava', Arial, sans-serif;
    font-size: 60px;
    line-height: 121px;
    margin: 0;
    margin-bottom: 18px;
}

.main-form__label {
    display: block;
    padding-right: 30px;
    margin-bottom: 20px;
}
.main-form__input {
    background-color: transparent;
    color: #707070;
    border: none;
    -webkit-box-shadow: inset 0 0 0 5px #707070;
    box-shadow: inset 0 0 0 5px #707070;
    padding: 16px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.main-form__input:hover,
.main-form__input:focus {
    -webkit-box-shadow: inset 0 0 0 5px white;
    box-shadow: inset 0 0 0 5px white;
    color: white;
}

.main-form__description {
    margin: 0;
    margin-bottom: 5px;
}

.main-form__label--checkbox {
    padding-right: 0;
    margin-right: 15px;
}

.main-form__wrap-checkbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 25px;
}

.main-form__input--checkbox + .main-form__label-icon {
    display: block;
    padding: 12px 29px;
    -webkit-box-shadow: inset 0 0 0 5px #707070;
    box-shadow: inset 0 0 0 5px #707070;
    cursor: pointer;
}

.main-form__input--checkbox + .main-form__label-icon:hover,
.main-form__input--checkbox + .main-form__label-icon:focus {
    -webkit-box-shadow: inset 0 0 0 5px white;
    box-shadow: inset 0 0 0 5px white;
}

.main-form__input--checkbox:checked + .main-form__label-icon {
    background-color: white;
    -webkit-box-shadow: inset 0 0 0 5px white;
    box-shadow: inset 0 0 0 5px white;
    color: black;
}

.main-form__button-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.main-form__button {
    display: inline-block;
    background-color: #2123e4;
    font-family: 'Chava', Arial, sans-serif;
    font-size: 25px;
    line-height: 36px;
    color: white;
    padding: 25px 58px;
    margin-right: 17px;
    border: none;
    cursor: pointer;
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
}

.main-form__button:hover,
.main-form__button:focus {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}

.main-form__button-description {
    max-width: 467px;
}

.main-footer {
    background-image: url('../img/bg__main.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #2123e4;
}

.main-footer__wrap {
    max-width: 1273px;
    margin: 0 auto;
    padding-top: 21px;
    padding-bottom: 25px;
}


@media(max-width: 480px) {
    body {
        font-size: 20px;
        line-height: 30px;
    }

    .main-header {
        background-image: url('../img/bg__mobile.svg');
        background-repeat: repeat;
        background-size: 20%;
    }

    .main-header__wrap {
        padding: 0 24px;
        padding-top: 12px;
    }

    .main-nav {
        width: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-left: -24px;
        margin-right: -24px;
        overflow: hidden;
    }

    .main-nav__list {
        margin: 0;
        -webkit-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
    }

    .main-nav__list--hidden {
        margin-top: -250px;
    }

    .main-nav__item {
        width: 100%;
    }

    .main-nav__item::before {
        top: 12px;
        left: 8px;
    }

    .main-nav__link {
        padding-left: 24px;
        font-size: 24px;
        line-height: 37px;
    }

    .main-nav__item:not(:last-of-type) {
        margin-right: 0;
    }

    .main-nav__button {
        position: absolute;
        display: block;
        width: 24px;
        height: 24px;
        top: 5px;
        right: 24px;
        background: none;
        border: none;
        -webkit-transition: 0.1s;
        -o-transition: 0.1s;
        transition: 0.1s;
    }

    .main-nav__button--close::before {
        position: absolute;
        content: '';
        width: 24px;
        height: 3px;
        top: 8px;
        right: 0;
        background-color: white;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition: 0.1s;
        -o-transition: 0.1s;
        transition: 0.1s;
    }

    .main-nav__button--close::after {
        position: absolute;
        content: '';
        width: 24px;
        height: 3px;
        top: 8px;
        right: 0;
        background-color: white;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transition: 0.1s;
        -o-transition: 0.1s;
        transition: 0.1s;
    }

    .main-nav__button--active::before {
        position: absolute;
        content: '';
        width: 24px;
        height: 3px;
        top: 0;
        right: 0;
        background-color: white;
        -webkit-box-shadow: 0 8px 0 0 white,
        0 16px 0 0 white;
        box-shadow: 0 8px 0 0 white,
        0 16px 0 0 white;
        -webkit-transition: 0.1s;
        -o-transition: 0.1s;
        transition: 0.1s;
    }

    .main-logo {
        display: block;
        width: 100%;
        padding-left: 24px;
    }

    .main-logo__img {
        width: 32px;
        height: 32px;
    }

    .main-banner__title--hidden {
        display: none;
    }

    .main-banner__title {
        font-size: 65px;
        line-height: 68px;
    }

    .main-banner__description {
        font-size: 20px;
        line-height: 30px;
    }

    .main-banner__button {
        font-size: inherit;
        line-height: inherit;
        padding: 9px 9px;
    }

    .main-banner__link-description {
        font-size: 16px;
        line-height: 22px;
        padding-left: 52px;
    }

    .main-banner__link-description::before {
        left: 10px;
    }

    .main-information__item {
        min-height: auto;
        margin-bottom: 8px;
        padding: 14px 26px;
    }

    .main-information__item:not(:last-of-type) {
        margin-right: 0;
    }

    .main-information__title {
        font-size: 16px;
        line-height: 36px;
    }

    .main-information__description {
        font-size: 16px;
        line-height: 36px;
    }

    .main-content {
        background-image: url('../img/bg__mobile__black.svg');
        background-repeat: repeat;
        background-size: 20%;
    }

    .what-kirovdev {
        padding-top: 38px;
        padding-left: 24px;
        padding-right: 24px;
    }

    .what-kirovdev::before {
        display: none;
    }

    .what-kirovdev__title {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 20px;
    }

    .speakers {
        padding-left: 24px;
        padding-right: 26px;
    }

    .speakers__item {
        min-height: 161px;
    }

    .speakers__title {
        font-size: 30px;
        line-height: 40px;
    }

    .speakers__times {
        font-size: 20px;
        line-height: 45px;
        padding: 8px 23px
    }

    .speakers__item--icon::before {
        display: none;
    }

    .speakers__subtitle {
        font-size: 20px;
        line-height: 30px;
    }

    .speakers__speaker-name {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 30px;
    }

    .organisations {
        background-image: url('../img/bg__mobile.svg');
        background-repeat: repeat;
        background-size: 20%;
    }

    .organisations__wrap {
        padding-left: 24px;
        padding-right: 24px;
    }

    .question__people-item {
        margin-bottom: 15px;
    }

    .organisations__title {
        font-size: 30px;
        line-height: 40px;
    }

    .organisations__description {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        font-size: 16px;
        line-height: 24px;
    }

    .organisations__logo-wrap {
        height: 150px;
    }

    .organisations__logo {
        left: 0;
    }

    .question__subtitle {
        font-size: 20px;
        line-height: 36px;
    }

    /*.question__people-img-wrap {
        display: none;
    }*/

    .question__people-name {
        font-size: 16px;
        line-height: 36px;
    }

    .question__text,
    .question__mobile-number,
    .question__email {
        font-size: 16px;
        line-height: 22px;
    }

    .main-form__wrap {
        padding-left: 24px;
        padding-right: 24px;
        background-color: black;
    }

    .main-form__title {
        font-size: 30px;
        line-height: 40px;
    }

    .main-form__label {
        padding-right: 0;
    }

    .main-form__label--checkbox:last-of-type {
        margin-right: 0;
    }

    .main-form__input {
        font-size: 16px;
        line-height: 24px;
    }

    .main-form__description {
        font-size: 16px;
        line-height: 24px;
    }

    .main-form__label-icon {
        font-size: 16px;
        line-height: 24px;
    }

    .main-form__input--checkbox + .main-form__label-icon {
        padding: 12px 16px;
    }

    .main-form__button {
        font-size: inherit;
        line-height: inherit;
        padding: 9px 16px;
        color: white;
    }

    .main-form__button-description {
        display: none;
    }

    .main-footer__wrap {
        display: none;
    }

}

@media (max-width: 359px) {
    .main-banner__title {
        font-size: 53px;
        line-height: 60px;

    }

    .main-banner__button {
        padding: 5px 5px;
        font-size: 14px;
    }

    .organisations__logo {
        width: 250px;
    }
}
